@model IEnumerable<Models.VehicleDetailsModel>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css'>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>
<script id="rendered-js">
    // Set the options that I want
    toastr.options = {
        "closeButton": true,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };



</script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Convert.ToString(TempData["SuccessMessage"]) == "Vehicle Updated Successfully.")
    {
        <script type="text/javascript">
            toastr.success("Vehicle Updated Successfully.");
        </script>
    }
    else if (Convert.ToString(TempData["SuccessMessage"]) == "Vehicle Deleted Successfully.")
    {
        <script type="text/javascript">
            toastr.success("Vehicle Deleted Successfully.");
        </script>
    }

}


@{


    <input id="UserId"
           name="StudentId"
           type="hidden"
           value="@ViewBag.UserID" />
}

<h2>Index</h2>

<script type="text/javascript">


    function GetSearchData()
    {
        debugger;

        var txtSearchRegNo = document.getElementById("txtSearchRegNo").value;
        var txtSearchOwnerName = document.getElementById("txtSearchOwnerName").value;
        var txtSearchModelNo = document.getElementById("txtSearchModelNo").value;
        var txtSearchMakeYear = document.getElementById("txtSearchMakeYear").value;

        var obj = {};
        obj.txtSearchRegNo = $.trim($("[id*=txtSearchRegNo]").val());
        obj.txtSearchOwnerName = $.trim($("[id*=txtSearchOwnerName]").val());
        obj.txtSearchModelNo = $.trim($("[id*=txtSearchModelNo]").val());
        obj.txtSearchMakeYear = $.trim($("[id*=txtSearchMakeYear]").val());


  $.ajax({
        url: '@Url.Action("SearchData", "Vehicle")',
        data: obj,
        success: function (data) {
          console.log(data);
          JsonData = data;
            document.getElementById("tbljatin").innerHTML = "<tr><th style='display:none'>VehicleId</th><th>OwnerName</th><th>RegNo</th><th>ModelNo</th><th>MakeYear</th><th style='display:none'>UserId</th><th></th></tr>";
          debugger;
          for (var i = 0; i < JSON.parse(JsonData).length; i++) {
              var obj = JSON.parse(JsonData)[i];
             // document.getElementById("tbljatin").innerHTML += "<tr><td style='display:none'>" + obj["VehicleId"] + "</td><td>" + obj["VehicleOwnerDetailsModels"].OwnerName + "</td><td>" + obj["RegNo"] + "</td><td>" + obj["ModelNo"] + "</td><td>" + obj["MakeYear"] + "</td><td style='display:none'>" + obj["UserId"] + "</td><td><a href='/Vehicle/Edit/" + obj["UserId"] + "'>Edit</a> |<a href='/Vehicle/Details/" + obj["UserId"] +"'>Details</a> |                <a href='/Vehicle/Delete/4' onclick='return confirm('Are you sure to delete?')'>Delete</a></td></tr>"
              document.getElementById("tbljatin").innerHTML += "<tr><td style='display:none'>" + obj["VehicleId"] + "</td><td>" + obj["VehicleOwnerDetailsModels"].OwnerName + "</td><td>" + obj["RegNo"] + "</td><td>" + obj["ModelNo"] + "</td><td>" + obj["MakeYear"] + "</td><td style='display:none'>" + obj["UserId"] + "</td><td><a href='/Vehicle/Edit/" + obj["VehicleId"] + "'>Edit</a> |<a href='/Vehicle/Details/" + obj["VehicleId"] + "'>Details</a> |                <a href='/Vehicle/Delete/" + obj["VehicleId"] + "' onclick=\"return confirm('Are you sure to delete?')\">Delete</a></td></tr>"

          }


          },
          error:function (xhr, ajaxOptions, thrownError){
                          //some errror, some show err msg to user and log the error
                          alert(xhr.responseText);

                        }
          });
    }
    var JsonData = "";
    function GetAllData()
    {
  $.ajax({
  url: '@Url.Action("GetAllVehicleDataNew", "Vehicle")',
  data: { },
      success: function (data) {
          debugger;
          document.getElementById("tbljatin").innerHTML = "<tr><th style='display:none'>VehicleId</th><th>OwnerName</th><th>RegNo</th><th>ModelNo</th><th>MakeYear</th><th style='display:none'>UserId</th><th></th></tr>";
          JsonData = data;
    //call is successfully completed and we got result in data
          JSON.parse(JsonData).length

          for (var i = 0; i < JSON.parse(JsonData).length; i++) {
              var obj = JSON.parse(JsonData)[i];
            //  document.getElementById("tbljatin").innerHTML += "<tr><td style='display:none'>" + obj["VehicleId"] + "</td><td>" + obj["VehicleOwnerDetailsModels"].OwnerName + "</td><td>" + obj["RegNo"] + "</td><td>" + obj["VehicleId"] + "</td><td>" + obj["MakeYear"] + "</td><td style='display:none'>" + obj["UserId"] + "</td><td><a href='/Vehicle/Edit/" + obj["UserId"] + "'>Edit</a> |<a href='/Vehicle/Details/" + obj["UserId"] +"'>Details</a> |                <a href='/Vehicle/Delete/4' onclick='return confirm('Are you sure to delete?')'>Delete</a></td></tr>"
              document.getElementById("tbljatin").innerHTML += "<tr><td style='display:none'>" + obj["VehicleId"] + "</td><td>" + obj["VehicleOwnerDetailsModels"].OwnerName + "</td><td>" + obj["RegNo"] + "</td><td>" + obj["ModelNo"] + "</td><td>" + obj["MakeYear"] + "</td><td style='display:none'>" + obj["UserId"] + "</td><td><a href='/Vehicle/Edit/" + obj["VehicleId"] + "'>Edit</a> |<a href='/Vehicle/Details/" + obj["VehicleId"] + "'>Details</a> |                <a href='/Vehicle/Delete/" + obj["VehicleId"] + "' onclick=\"return confirm('Are you sure to delete?')\">Delete</a></td></tr>"


          }

          //document.getElementById("tbljatin").innerHTML += "<tr><td style='display:none'>4</td><td>Owner-15</td><td>reg4455</td><td>9988776655</td><td>2015</td><td style='display:none'>4</td><td><a href='/Vehicle/Edit/4'>Edit</a> |<a href='/Vehicle/Details/4'>Details</a> |                <a href='/Vehicle/Delete/4' onclick='return confirm('Are you sure to delete?')'>Delete</a></td></tr>"

  },
  error:function (xhr, ajaxOptions, thrownError){
                  //some errror, some show err msg to user and log the error
                  alert(xhr.responseText);

                }
  });
}




</script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Vehicle", FormMethod.Post))
{
    <div class="form-horizontal">

        <div class="form-group">

            <div class="col-md-3">

                <input id="txtSearchRegNo" name="txtSearchRegNo" type="text" class="form-control" placeholder="Reg. No." />

            </div>
            <div class="col-md-3">
                <input id="txtSearchOwnerName" name="txtSearchOwnerName" type="text" class="form-control" placeholder="Owner Name" />
            </div>
            <div class="col-md-3">
                <input id="txtSearchModelNo" name="txtSearchModelNo" type="text" class="form-control" placeholder="Model No." />
            </div>
            <div class="col-md-3">
                <input id="txtSearchMakeYear" name="txtSearchMakeYear" type="text" class="form-control" placeholder="MakeYear" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Search" class="form-control btn btn-primary" />
                    <input type="button" value="Reset" class="form-control btn btn-warning" onclick="location.href='@Url.Action("Index", "Vehicle")'" />*@



                <input id="Button1" type="button" value="Search" class="form-control btn btn-primary" onclick="GetSearchData();" />
                <input id="Button1" type="button" value="Reset" class="form-control btn btn-warning" onclick="GetAllData();" />
            </div>
        </div>
    </div>
}
<table id="tbljatin" class="table"></table>



<script type="text/javascript">
    window.onload = function () {

        GetAllData();
    }
</script>


